{% extends "base.html" %}

{% block head %}
<title>Contact Us</title>
{% endblock %}

{% block body %}

<br>
<div style="text-align: center; color: white;">
    <h1>Contact Us</h1>
    <p class="font-italic">Just a dummy contact form for now...</p>
</div>

<form action="/contactus" method="POST">
    <div class="jumbotron mx-auto" style=" color: white; width: 55%; padding: 20;
    background: rgba(0, 57, 66, 0.959);">
        {% if msg %}
        <h5>{{ msg }}</h3>
            {% endif %}
            <div class="form-group">
                <label for="content">Your Query:</label>
                <textarea class="form-control" name='userContent' id="content" aria-label="Enter Content" rows="3"
                    placeholder="How can we help?"
                    style="background-color: rgb(0, 15, 97); color: white;"></textarea>
            </div>
            <button type="submit" class="btn" style="background-color: rgb(0, 208, 223);">Submit
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
    </div>
</form>


{% endblock %}